@*@model dogcat.Models.ViewModels.EmailRequest
@{
    ViewData["Title"] = "이메일 인증";
    int page = (int)ViewData["page"];
}

<h2>이메일 인증</h2>
<hr>

<form method="post" action="/Email/Email">
    <div class="mb-3">
        <label for="email">이메일:</label>
        <input type="text" class="form-control" placeholder="이메일 입력하세요" asp-for="Email">
        <div><span class="text-danger"></span></div>
    </div>
    <button type="submit" class="btn btn-outline-dark">인증번호발송</button>
    <a class="btn btn-outline-dark"
       asp-controller="Email"
       asp-action="Email">
    </a>
</form>


<form method="post" action="/Email/EmailCheck">
    <div class="mb-3 mt-3">
        <label for="password">인증번호:</label>
        <input type="text" class="form-control" placeholder="인증번호  입력하세요" asp-for="InputPassword">
        <div><span class="text-danger"></span></div>
    </div>
    <button type="submit" class="btn btn-outline-dark">인증</button>
    <a class="btn btn-outline-dark"
       asp-controller="Email"
       asp-action="EmailCheck">
    </a>
</form>


*@