@model dogcat.Models.Domain.Pet
@{
    ViewData["Title"] = "권장 칼로리 알아보기";
}

<script src="~/js/Pet/Calorie.js"></script>
<link rel="stylesheet" href="~/css/calorie.css">

<div class="container0">
    <h2>권장 칼로리</h2>
    <div class="SelectForm">
        <form>
            <div class="dogcat">
                <div class="img">
                    <img class="dog" src="https://tools.mypetlife.co.kr/static/media/dog_select.d0cd964d4185a9bebf06.png" onclick="handleButtonClick('dog')" />
                    <img class="cat" src="https://tools.mypetlife.co.kr/static/media/cat_select.14d59481a42b358448be.png" onclick="handleButtonClick('cat')" />
                </div>
                <br>
                <b>반려동물의 종류를 선택해주세요.</b>
            </div>
        </form>
        <br>
    </div>
</div>

<div id="dogForm" style="display: none;">
    <div class="FinddogForm">
        <form>
            <div class="container1">
                <label for="WeightDog">몸무게(kg):</label>
                <input type="text" class="form-control" placeholder="몸무게를 입력하세요" id="WeightDog" name="WeightDog">
                <div><span class="text-danger" id="errorDog"></span></div>

                <label for="ActiveLevel">활동수치:</label>
                <select class="form-select" id="activeLevelSelectDog" name="ActiveLevel">
                </select>
                <div class="buttoncontainer">
                    <button type="button" class="button" onclick="calculateCalorieDog()">권장 칼로리 계산</button>
                </div>
                <br />
                <label for="CalorieDog">권장 칼로리:</label>
                <input type="text" class="form-control" id="CalorieDog" name="CalorieDog" readonly>
                <span>
                    건강 상태, 비만도에 따라 달라질 수 있으니
                    정확한 섭취량은 수의사와 상담해보세요.
                </span>
                <br><br>
            </div>
        </form>

    </div>
</div>


<div id="catForm" style="display: none;">
    <div class="FindcatForm">
        <form>
            <div class="container1">
                <label for="WeightCat">몸무게(kg):</label>
                <input type="text" class="form-control" placeholder="몸무게를 입력하세요" id="WeightCat" name="WeightCat">
                <div><span class="text-danger" id="errorCat"></span></div>

                <label for="ActiveLevel">활동수치:</label>
                <select class="form-select" id="activeLevelSelectCat" name="ActiveLevel">
                </select>
                <div class="buttoncontainer">
                    <button type="button" class="button" onclick="calculateCalorieCat()">권장 칼로리 계산</button>
                </div>
                <br />
                <label for="CalorieCat">권장 칼로리:</label>
                <input type="text" class="form-control" id="CalorieCat" name="CalorieCat" readonly>
                <span>
                    건강 상태, 비만도에 따라 달라질 수 있으니
                    정확한 섭취량은 수의사와 상담해보세요.
                </span>
                <br>
                <br>
            </div>
        </form>
    </div>
</div>

@if (ViewData["WarningMessage"] != null)
{
    <div class="alert alert-warning">@ViewData["WarningMessage"]</div>
}
