@model dogcat.Models.ViewModels.addWriteRequest
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    int? userId = HttpContextAccessor.HttpContext.Session.GetInt32("userId") ?? 0;
    string userNickName = HttpContextAccessor.HttpContext.Session.GetString("userNickName");
    int? admin = HttpContextAccessor.HttpContext.Session.GetInt32("userAdmin") ?? 0; //관리자 여부
}
@{
    ViewData["Title"] = "글 작성";
    int page = (int)ViewData["page"];
}

<head>
    <script src="~/js/Board/Write.js"></script>
    <link rel="stylesheet" href="~/css/Board/Write.css">
</head>
<div class="container1">

    <h2>게시글 작성</h2>
    <hr>
</div>
<div class="container2">
    <div class="btncnt">
        <a class="btn" >@userNickName<br> 반갑습니다</a>
        <br>
        <a class="btn" asp-controller="MyPage" asp-action="Home" asp-route-id="@userId" name="buttonName" value="mypage">마이페이지로가기</a>
        <br>
        <a class="btn" asp-controller="Board" asp-action="Write" name="buttonName" value="Write">게시글 작성하기</a>
        <br>
        <a class="btn" asp-controller="Message" asp-action="Add" asp-route-id="@userId" name="buttonName" value="Message">메세지 보내기</a>
    </div>
    <div class="right">
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3 mt-3">
                <label for="category">카테고리를 선택해주세요</label>
                <select class="form-select" asp-for="Category">
                    <option value="강아지">강아지</option>
                    <option value="고양이">고양이</option>
                    <option value="그외 동물">그외 동물</option>
                    @if (admin == 1)
                    {
                        <option value="공지사항">공지사항</option>
                    }
                </select>
            </div>
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" placeholder="제목을 입력하세요" asp-for="Title">
                <div><span class="text-danger" id="validError1"></span></div>
            </div>
            <div class="mb-3 mt-3">
                <textarea class="form-control" rows="5" placeholder="내용을 입력하세요" asp-for="Context"></textarea>
                <div><span class="text-danger" id="validError2"></span></div>
            </div>
            <div class="mb-3 mt-3">
                <label for="image">이미지:</label>
                <input type="file" class="form-control" name="uploadedFile">
            </div>
            <div class="mb-3">
                <input type="hidden" class="form-control" placeholder="작성자를 입력하세요" asp-for="NickName" readonly>
            </div>


            <button type="submit" class="btn btn-outline-dark" onclick="return validateForm()">작성완료</button>
            <a class="btn btn-outline-dark"
               asp-controller="Board"
               asp-action="List"
               asp-route-page="@(page)">목록</a>
        </form>
    </div>

</div>

