<head>
    <link rel="stylesheet" href="\css\Map\MapAnimalHospital.css" />
    @*클라이언트 아이디 숨길수 있으면 숨기기*@
    @*<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=wsut629rqw&submodules=panorama"></script>*@
    @*<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=wsut629rqw&submodules=geocoder"></script>*@
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=wsut629rqw"></script>
</head>

<body>

    <div class="title">
        <h1>우리동네 동물병원</h1>
        <br />
    </div>

    <button id="street">거리뷰</button>
    <div class="map-wrapper">
        <div id="map" style="width: 80%; height: 600px;"></div>
        <div id="detail" class="detail"></div>
    </div>
    <div class="button">
        <button onclick="history.back()" class="btn">뒤로가기</button>
    </div>
    <script>
        var userLat = @Html.Raw(Json.Serialize(ViewBag.UserLat));
        var userLong = @Html.Raw(Json.Serialize(ViewBag.UserLong));
        var animalHospitals = @Html.Raw(Json.Serialize(ViewBag.AnimalHospitals));
    </script>
    <script src="~/js/Map/MapAnimalHospital.js"></script>


</body>
