<html>
<head>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=wsut629rqw"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <h2>우리동네 산책로</h2>
    <style>
        .control-btn {
            background-color: #fff;
            color: #000;
        }

            .control-btn.active {
                background-color: blue;
                color: #fff;
            }
    </style>
</head>
<body>
    <input id="bicycle" type="button" value="산책로" class="control-btn" />
    <div id="map" style="width:100%;height:600px;"></div>

    <script>
        var userLat = @Html.Raw(Json.Serialize(ViewBag.UserLat));
        var userLong = @Html.Raw(Json.Serialize(ViewBag.UserLong));
        var mapOptions = {
            center: new naver.maps.LatLng(userLat, userLong),
            zoom: 14,
            mapTypeControl: true,
            mapTypeControlOptions: {
                style: naver.maps.MapTypeControlStyle.DROPDOWN
            }
        };

        var map = new naver.maps.Map('map', mapOptions);

        var marker = new naver.maps.Marker({ //현위치
            position: new naver.maps.LatLng(userLat, userLong),
            map: map,
            icon: {
                url: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRF1rdL5BciGb7ROzW5D5vht8Vn3XIuhEUxNA&usqp=CAU',
                scaledSize: new naver.maps.Size(50, 50),
                origin: new naver.maps.Point(0, 0),
            }
        });


        var bicycleLayer = new naver.maps.BicycleLayer();

        var btn = $('#bicycle');

        naver.maps.Event.addListener(map, 'bicycleLayer_changed', function (bicycleLayer) {
            if (bicycleLayer) {
                btn.addClass('active');
            } else {
                btn.removeClass('active');
            }
        });

        btn.on("click", function (e) {
            e.preventDefault();

            if (bicycleLayer.getMap()) {
                bicycleLayer.setMap(null);
            } else {
                bicycleLayer.setMap(map);
            }
        });

        naver.maps.Event.once(map, 'init', function () {
            bicycleLayer.setMap(map);
        });
    </script>
</body>
</html>
