.box{
    border: 5px solid black;
    width: 1210px;
    height: 500px;
    margin-left: 400px;
    overflow:auto;
}
.btn {
    margin-left: 1535px;
}
.container1 {
    margin-top: 2.5%;
    margin-left: 21%;
    margin-right: 15.4%;
}

.messageform{
    margin-bottom : 50px;
}