.box{
    border: 5px solid black;
    width: 1210px;
    height: 500px;
    margin-left: 400px;
}
.btn {
    margin-left: 1535px;
}
.container1 {
    margin-top: 2.5%;
    margin-left: 21%;
    margin-right: 15.4%;
}
/*.message_select {
    width: 35px;*/ /* 원하는 가로 크기로 설정 */
    /*height: 35px;*/ /* 원하는 세로 크기로 설정 */
/*}*/
