.ta {
    width: 50%;
    text-align: center;
    margin-left: 25%;
}



.search input[type=text] {
    margin-bottom: 20px; /* 원하는 간격을 지정해주세요 */
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
    margin-left: 12%;
}

.search button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

    .search button:hover {
        background: #0b7dda;
    }

#content {
    margin-top: 50px;
}

