

h2 {
    text-align: center;
}

form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.img img:hover {
    background-color:gray;
}

.buttoncontainer {
    display: flex;
    justify-content: center;
}


/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}



.container1 {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom:10%;
}