.petcontainer {
    display: flex;
    margin: 3% 5% 5% 5%;
    height: auto;
}

.btncnt {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-right: 10%;
    margin-left: 5%;
}

    .btncnt .btn {
        height: 100px;
        border: solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s;
    }

.petinfo {
    margin-top:5%;
    display: flex;
    flex-direction: column;
}

.container2 {
    width: 200%;
    display: flex;
    margin-bottom:10%;
    margin-right: 10%;
    border: solid black;
}
    .container2 img {
    height:300px;
    margin:5%
    }
.petflex {
    display: flex;
    flex-direction: column;
}
h1 {
    margin-top:2%;
text-align:center
}