#content {
    margin: 5% 10%;
    display: flex;
    flex-direction: column;
}

.title {
    width: auto;
    height: auto;
    overflow: hidden;
    text-align: center;
}
/*container 2 설정*/
.container2 {
    padding: 10px;
    box-sizing: border-box;
    width: auto;
    text-align: center;
}

/*제목 설정*/
.Maptitle {
    text-align: center;
}

    .Maptitle h1 {
        font-size: 30px;
        height: 40px;
    }

/*텍스트박스 설정*/
.address {
    text-align: center;
}

    .address input {
        border: 2px solid black;
        display: inline-block;
        padding: 5px;
        text-align: center;
        width: 600px;
        height: 5%;
    }

/*그림 버튼 설정*/
.MapButton {
    margin-top : 3%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
    justify-content: center;
}

.line {
    margin-top : 2%;
    border-left: 2px solid black;
    height: 440px;
}


.MapButton button {
    margin-top: 3%;
    width: 450px;
}

    .MapButton button img {
        width: 400px;
        height: 400px;
    }


 .btn {
    background-color: lightskyblue;
    width: 120px; /* 원하는 너비 값으로 수정하세요 */
    padding: 6px, 20px;
}






    .btn:hover {
        /* hover 시 적용될 스타일 */
        background-color: gray;
    }
