

.admin {
    border: 5px solid rgb(125,182,202);
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
    background-color: rgb(125,182,202);
}
    .admin b {
        font-size: 250%;
        margin-left: 2.5%;
    }

    .admin li {
        margin-top:1%;
        padding-bottom:1.5%;
        margin-left: 2.5%;
        list-style: circle;
    }
.admin a {
    font-size:200%;
}
.adminwrite {
    background-color: white;
}
hr {
margin:0px;
}
.userBoard {
    margin: 5% 10% 10% 5%;
    display: flex;
}
    .userBoard b {
        font-size: 300%;
    }
.free {
margin-right:5%;
}
.board img {
width:250px;
height:250px;
}


#text {
    color: white;
    background-color: rgb(0,103,163);
    display: flex;
    flex-direction: column;
    align-items: center;
}

    #text span {
        margin-top: 10px;
    }

#social img {
    margin-top: 10px;
    margin-left: 5px;
}



.text {
    display: flex;
    background-color: rgb(220,230,242);
    padding-left: 18%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 2.5%;
}

.textctn {
    padding-left: 3%;
    display: flex;
    flex-direction: column;
}

    .textctn a {
        font-size: 28px;
        padding-top: 20%;
        text-align: end;
    }

.fa-chevron-right::before {
    margin-left: 10px;
    font-size: 50px;
    padding-top: 18%;
    text-align: end;
}

.text img {
    width: 350px;
    height: 350px;
    border-radius: 10px;
}
.text .button {
    color: white;
    display: flex;
    width: 200px;
    padding: 10px 20px;
    background-color: rgb(125,182,202);
    color: #333;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    align-items: center;
    margin-left: 80%;
}

    .text .button:hover {
    background-color:white;
    }


.text span {
    font-size: 50px;
    vertical-align: bottom;
}

/*-----------*/
.calory {
    display: flex;
    background-color: #d0eae9;
    padding-right: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 5%;
    flex-direction: row-reverse;
}

.caloryctn {
    padding-right: 3%;
    display: flex;
    flex-direction: column;
}

.caloryctn a {
    font-size: 28px;
    padding-top: 20%;
    text-align: end;
}

.fa-chevron-right::before {
    margin-left: 10px;
    font-size: 50px;
    padding-top: 18%;
    text-align: end;
}

.calory img {
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

.calory .button {
    color: white;
    display: flex;
    width: 200px;
    padding: 10px 20px;
    background-color: rgb(125,182,202);
    color: #333;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    align-items: center;
    margin-right: 80%;
}

    .calory .button:hover {
        background-color: white;
    }


.calory span {
    font-size: 50px;
    vertical-align: bottom;
}












/*

.explanation h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.explanation p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8;
    opacity: 0.8;
}

.explanation a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    background-color: #BF6A7A;
    padding: 10px 30px;
    border: solid 3px currentColor;
    border-radius: 6px;
    margin-top: 20px;
    display: inline-block;
}

    .explanation a:hover {
        background-image: linear-gradient( rgba(255,255,255,0.2), rgba(255,255,255,0.2) );
    }

.explanation {
    background-color: #5D9AB2;
    color: #fff;
}

    .explanation .text {
        padding: 20px;
    }

    .explanation .photo {
        min-height: 200px;
        background-image: url(/css/pet1.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .explanation .container {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .explanation .photo {
        flex: 3;
    }

    .explanation .text {
        flex: 2;
        padding: 50px;
    }
*/