@model dogcat.Models.Domain.User
@{
}
@if(Model != null)
{
<a class="btn btn-outline-dark" asp-controller="Mypage" asp-action="Page" asp-route-id="@Model.Id">계정설정</a>
<a class="btn btn-outline-dark" asp-controller="Mypet" asp-action="MypetPage" asp-route-id="@Model.Id">내 예완동물보러가기</a>
    <a class="btn btn-outline-dark" asp-controller="Mypet" asp-action="Add" asp-route-id="@Model.Id">예완동물 등록하기</a>
}
else
{
    <script>
        alert("누구세요?");
        history.back();
    </script>
}
