@{
    ViewData["Title"] = "Home Page";
}
@*모델 지정 (이쪽이 맞냐?)*@
@model dogcat.Models.Domain.User;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
    <h1>어서와</h1>
    @if(Model != null)
    {
        <p>@(Model.Name)님 안녕하세요~!</p>
        <a href="/User/Logout">로그아웃</a>
    }
    else
    {
    <a href="/User/Login">로그인</a>
    <a href="/User/Register">회원가입</a>
        
    }
</div>
