@*
    회원가입    
*@
@model dogcat.Models.ViewModels.AddUserRequest
@{
   
}
<link rel="stylesheet" href="~/css/Register/Register.css" />
<div class="logobox">
    <img src="~/css/ohdogcatblue.png" class="logo" />
</div>

<div class="container">
    <form method="post" id="register">
        <input type="hidden" value="unable" id="idcheck" name="valid_id" />
        <input type="hidden" value="unable" id="mailcheck" name="valid_mail" />
        <div class="form-group">
            <label for="Userid">아이디</label>
            <div class="input-group">
                <input type="text" asp-for="Userid" class="form-control" />
                <div class="input-group-append"> &nbsp;
                    <button type="button" id="Go_idcheck" disabled class="btn btn-primary">중복검사</button>
                </div>
            </div>
            <p id="valid_userId"></p>
        </div>

        <div class="form-group">
            <label for="Pw">비밀번호</label>
            <input type="password" class="form-control" asp-for="Pw" />
            <p id="valid_pw"></p>
        </div>

        <div class="form-group">
            <label for="input_pw2">비밀번호 확인</label>
            <input type="password" class="form-control" id="input_pw2" />
            <p id="valid_pw2"></p>
        </div>

        <div class="form-group">
            <label for="Nick">닉네임</label>
            <input type="text" class="form-control" asp-for="NickName" />
            <p id="valid_NickName"></p>
        </div>

        <div class="form-group">
            <label for="Name">이름</label>
            <input type="text" class="form-control" asp-for="Name" />
            <p id="valid_name"></p>
        </div>

        <div class="form-group">
            <label for="Tel">연락처</label>
            <div class="input-group">
                <input type="text" class="form-control" asp-for="PhoneNum" />
            </div>
            <p id="valid_tel"></p>
        </div>

        <div class="form-group">
            <label for="mail">메일</label>
            <div class="input-group">
            <input type="text" class="form-control" asp-for="Mail" /> &nbsp;
           
            <div class="input-group-append">
            <button type="button" class="btn btn-primary" name="verify_mail" id="verify">인증번호 받기</button>
            </div>
            <p id="valid_mail"></p>
            </div>
        </div>


        <!-- 인증번호 입력 -->
        
        <div class="form-group">
            <label for="verify">인증번호 입력</label>
            <input type="text" class="form-control" id="inputcode" name="input_code" />
            <div class="input-group-append">
                <button type="button" class="btn btn-primary" name="check_code" id="verify_check">인증확인</button>
            </div>
        </div>
        

        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary btn-lg btn-block" style="width: 200px; margin: 0 auto;">가입하기</button>
        </div>

    </form>
</div>


    <script src="~/js/User/Valid_check.js"> </script>
   

