@*
    회원가입    
*@
@model dogcat.Models.ViewModels.AddUserRequest
@{
   
}
<h1>어서왕</h1>

<form method ="post" id="register">
 @*인증여부 체크 0:false 1:true*@
@*아이디 중복검사 여부*@
    <input type="hidden" value="unable" id="idcheck" name="valid_id" />
    @*문자인증 여부(본인 확인)*@
 <input type="hidden" name="phone_check" value="unable" id="phonecheck" />
@*ID입력*@
<label for="Userid">아이디</label>
<input type="text" asp-for="Userid" /> 
<button type="button" id="Go_idcheck">중복검사</button> <br />
    <p id="valid_userId"></p>
@*비밀번호*@
<label for="Pw">비밀번호</label>
<input type="password" asp-for="Pw" /><br />
    <p id="valid_pw"></p>
@*비밀번호 확인*@
    <label for="input_pw2">비밀번호 확인</label>
<input type="password" id="input_pw2" /><br />
    <p id="valid_pw2"></p>
@*닉네임*@
<label for="Nick">NickName</label>
<input type="text" asp-for="NickName" /><br />
    <p id="valid_NickName"></p>
@*이름*@
<label for="Name">이름</label>
<input type="text" asp-for="Name" /> <br />
    <p id="valid_name"></p>
@*메일*@
<label for="mail">메일</label>
<input type="text" asp-for="Mail" /> <br />
    <p id="valid_mail"></p>
<br />
@*연락처*@
<label for="Tel">연락처</label>
<input type="text" asp-for="PhoneNum" /> <button type="button" name="verify_tel">인증번호 받기</button> <br />
    <p id="valid_tel"></p>
<br />
@*인증번호 입력
<label for="verify">인증번호 입력</label>
<input type="text" id="inputcode" />
<br />*@
<button type="submit">가입하기</button>
    <script src="~/js/User/Valid_check.js"> </script>
</form>


