.detailimg {
    height: 150px;
    width: 150px;
}
.container {
    margin: 5% 5% 5% 5%; /* 상 우 하 좌 */
}
.span1 {
font-size:50%;
}
.auto-height {
    height: auto;
    resize: none;
    background-color:white;
}
.form-control[readonly] {
    background-color: white;
    opacity: 1;
}
.categorycolor {
color:lightskyblue
}