.mb-3 img {
    height: 300px;
    width: 300px;
}
.container {
    margin: 5% 5% 5% 5%; /* 상 우 하 좌 */
}
.span1 {
font-size:50%;
}
.auto-height {
    height: auto;
    resize: none;
    background-color:white;
}
.form-control[readonly] {
    background-color: white;
    opacity: 1;
}
.categorycolor {
color:lightskyblue
}
.btnform {
    float: right;
    margin-top: 20px;
}
.eotrmf {
    height: 80px;
    margin-left:10px;
}

.panel {
    background-color: white;
    overflow: hidden;
    margin-top: 10px;
    border: 1px solid #ebecef;
}
.container2{
    margin-top: 2.5%;
    margin-left: 25%;
    margin-right: 10%;
}
.container3 {
    display: flex;
}
.btncnt {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-right: 5%;
    margin-left: 5%;
}
    .btncnt .btn {
        height: 100px;
        border: solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s;
    }

        .btncnt .btn:hover {
            background-color: gray;
            원하는 색상으로 변경 가능
        }
.container4 {
    display: flex;
    width: 65%;
    margin-right: 10%;
    
    flex-direction: column;
}