.page {
    display: flex;
margin: 5% 5% 5% 5%;
height:800px;
}

.btncnt {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-right: 5%;
    margin-left: 5%;
}

    .btncnt .btn {
        height: 100px;
        border: solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s;
    }

.mypage {
    width: 45%;
    margin-right: 10%;
    border: solid black;
    margin-left:5%;
    
}

.pet {
display:flex

}
.pet
.petinfo {
    margin-left:50px;
    margin-top: 50px;
    display: flex;
    height: 50px;
    flex-direction: column;
}
    .pet b {
   margin-bottom:50px;
        }

.pet a {
    margin-top:3%;
}
.account {
    display: flex;
    flex-direction: row-reverse;
    margin-right:50px;
}
.accountinfo {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.account .btn{
    margin-top:50px;
    width:50%;
}
.petcal {
    display: flex;

}
.petcalbtn {
    margin-left: 50px;
    margin-top: 50px;
    display: flex;
    height: 50px;
    flex-direction: column;
}
.petcal .btn{
    margin-top:50px;
}

.mypage img {
    margin-left:5%;
    margin-top:30px;
    display:flex;
    width: 20%;
    height: 20%;
}

