.page {
    text-align: center;
    display: flex;
}

.btncnt {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-right: 5%;
    margin-left: 5%;
}

    .btncnt .btn {
        height: 100px;
        border: solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s;
    }

.mypage {
    width: 65%;
    margin-right: 10%;
    border: solid black;
    
}
.a {
    display: flex;
    width: 100%;
    height: 33%;
    border: solid cyan;
    
}
.a b{
    width: 100%;
    height: 50%;
}
.a a{
    text-align:center;
    width: 300px;
    height: 50px;
}
.b {
    display: flex;
    flex-direction: row-reverse;
    height: 33%;
    margin-top: 0.5%;
    border: solid red;
}
.c {
    display: flex;
    height: 33%;
    margin-top: 0.5%;
    border: solid blue;
}
.a img {
    width: 130px;
    height: 130px;
}
.b img {
    width: 130px;
    height: 130px;
}
.c img {
    width: 130px;
    height: 130px;
}
