.clear {
    clear: both;
}

li {
    list-style: none;
}

#container {
    display:flex;
    background-color:rgb(125,182,202);
    border: 1px solid gray;
    height: 80px;
}

#icon {
    width: 200px;
    display: inline-block;
}

    #icon img {
        width: 95px;
        margin-top: 2px;
        margin-left: 150px;
        margin-bottom: 15px;
    }

#menu {
    font-size: 20px;
    display: flex;
    height: 80px;
    margin-left: 15%;
    flex-direction: row;
    align-items: center;
}

    #menu a {
        color: white;
        margin-right: 5px;
        border: 10px solid rgb(125,182,202);
        border-radius: 5px;
        text-decoration: none;
    }

        #menu a:hover {
            background-color: rgb(0,103,163);
            border-color: rgb(0,103,163);
        }
      
#login {
    margin-left:40%;
    display: flex;
    align-items:center;
}

    #login a {
        margin-left:25px;
        color:white;
        font-size:20px;
        margin-right: 10px;
        text-decoration: none;
    }
.login2 {
    font-size:20px;
    color: white;
    margin-left: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    gap: 5px; /* 컬럼간의 간격을 조절하는 값으로 조정 */
}
    .login2 a {
        font-size: 15px;
        color: white;

    }

#main {
    display: flex;
    height: 150px;
    text-align: center;
    align-items: center;
}
    #main img {
        height: 130px;
        width: 130px;
        margin-left: 15%;
    }

    #main h1 {
        margin-left:20%;
    }

.bluebox {
    height: 10px;
    background-color: rgb(0,103,163);
}


#footer {
    background-color: rgb(220,230,242);
    height: 250px;
    display: flex;
    justify-content: center;
}
    #footer .footer1menu {
        display: flex;
        width: 200px;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2.5%;
    }
        #footer .footer1menu span {
            display: flex;
            justify-content: center;
        }


#f_icon img {
    margin-right: 25%;
    display: inline-block;
    width: 80px;
    margin-top:50%;
}

#text {
    color:white;
    background-color:rgb(0,103,163);
    display: flex;
    flex-direction: column;
    align-items: center;
}
    #text span {
    margin-top:10px;
    }

    #social img {
        margin-top:10px;
        margin-left: 5px;
    }








#content {
    height: 50%;
}

.board {
    margin-top: 20px;
}

.free {
    display: inline-block;
    border: 1px solid red;
    margin-left: 450px;
}

    .free li {
        display: inline-block;
        margin-right: 30px;
        width: 200px;
        height: 205px;
        overflow: hidden;
        border: 1px solid pink;
    }

.title {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

    .title a {
        font-size: 14px;
        white-space: break-all;
    }

.populer {
    display: inline-block;
    border: 1px solid blue;
    margin-left: 450px;
    margin-top: 20px;
}

    .populer li {
        display: inline-block;
        margin-right: 30px;
        width: 200px;
        height: 205px;
        overflow: hidden;
        border: 1px solid pink;
    }

.admin {
    border: 1px solid black;
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 20px;
}

    .admin li {
        list-style: circle;
        margin-bottom: 5px;
    }

.explanation h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.explanation p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8;
    opacity: 0.8;
}

.explanation a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    background-color: #BF6A7A;
    padding: 10px 30px;
    border: solid 3px currentColor;
    border-radius: 6px;
    margin-top: 20px;
    display: inline-block;
}

    .explanation a:hover {
        background-image: linear-gradient( rgba(255,255,255,0.2), rgba(255,255,255,0.2) );
    }

.explanation {
    background-color: #5D9AB2;
    color: #fff;
}

    .explanation .text {
        padding: 20px;
    }

    .explanation .photo {
        min-height: 200px;
        background-image: url(/css/pet1.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .explanation .container {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .explanation .photo {
        flex: 3;
    }

    .explanation .text {
        flex: 2;
        padding: 50px;
    }
