@{
    ViewData["Title"] = "OH,Dog,CAT!!!!";
}
@*모델 지정 (이쪽이 맞냐?)*@
@model dogcat.Models.Domain.User;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
    <h1>어서와</h1>
    <a href="/Login/Login">로그인</a>
    <a href="/User/Register">회원가입</a>
    @if(Model != null)
    {
        <p>@(Model.Name)님 안녕하세요~!</p>
    }
    
    <br/>
    <a class="btn btn-outline-dark" asp-controller="Map" asp-action="MapSelectView">검색</a>
</div>
