@*
    로그인
*@
@{
}
@if (Model != null)
{

}
else
{
    <h1>어서와</h1>
    <form method="POST" asp-controller="Login" asp-action="Login">
        <label for="ID">ID</label>
        <input type="text" name="userid" /><br />
        <label for="Password">Password</label>
        <input type="password" name="userpassword" /><br />
        <button>로그인</button>
    </form>
    <br />
    <a asp-controller="Login" asp-action="FindId">Id찾기</a> 
    <a asp-controller="Login" asp-action="FindPw">비밀번호 찾기</a>
}
